@import "tailwindcss";


@theme {
  --color-bodyBg: #f7e6db;
  --color-primary: #3B82F6;
  --color-secondary: #050824;
  --color-accent: #fb6824;
  --color-good: #22C55E;
  --color-warning: #F97316;
  --color-danger: #EF4444;

  --color-textColor: #000;

  --color-cardBg: #fff


}

.dark{
  --color-bodyBg: #050824;
  --color-secondary: #f7e6db;
  --color-textColor: #fff;
  --color-cardBg: #0a114c;


}

@utility mode-transition {
  @apply transition-colors duration-750 ease-in-out
}
*{
  @apply mode-transition
}

@variant dark (&:where(.dark, .dark *));


body{
  @apply bg-bodyBg lg:flex lg:flex-row
}

.header{
  @apply bg-white p-6 flex justify-between rounded items-center lg:flex-col lg:h-svh lg:w-1/8 lg:fixed
}


.header__title{
  @apply uppercase
}


.nav__list{
  @apply flex gap-4 items-center lg:flex-col
}

.nav__button{
  @apply bg-accent px-2 py-1 rounded hover:bg-secondary hover:text-accent cursor-pointer duration-200 text-nowrap
}


.main{
  @apply text-textColor p-6 flex gap-6 flex-wrap justify-center-safe lg:pl-[12.5%]
}


.card{
  @apply rounded p-3 flex flex-col w-72 h-72 bg-cardBg;
}

.card__top{
  @apply h-full bg-primary;
}

.card__bottom{
  @apply flex flex-col;
}

.card__temp{
  @apply text-2xl font-bold
}

.card__city{
  @apply text-xl font-bold
}

.card__data{
  @apply flex justify-between
}
